.homebutton {
  height: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  
  .logo-container {
    height: 100%;
    width: 25px;
    padding: 30px 45px;
    

  
  } 

}