.info-card {
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
  margin: 0px 10px 15px 10px;
  

  .title {
    font-size: 20px;
    margin-bottom: 20px;
    color: white;
    text-shadow: 1px 1px 1px #1c0cf5;
  }

  .card {
    display: flex;
    flex-direction: row;
    justify-content: left;
    column-gap: 8%;
    row-gap: 15px;
    flex-wrap: wrap; 
    
  }
}
