.backbutton {
  height: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  
  
  
  .logo {
    height: 900%;
    width: 25px;
    padding: 20px 45px;
    fill: white;
    
    

  
  } 

}