.main-0-2-2.rw-container-main.main-d13-0-2-62 {
  width: 100%;
  
}

.rw-today {
  font-size: 100%;
  
}

.left-0-2-4.rw-container-left {
  padding: 5px 5px;
}

.right-0-2-5.rw-container-right{
  padding: 5px 5px;
  
}


