.pbpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0px;

  .photo {
    width: 100%;
    height: 100px;
    background-size: cover;
    background-position: center;
    font-weight: bold;
    font-size: 30px;
    color: white;
    text-align: left;
  }

  .pagename {
    font-weight: bold;
    margin-top: 10px;
    font-size: 25px;
    color: white;
    text-align: left;
    margin-left: 15px;
    text-shadow: 2px 2px black;
  }

  .homebutton {
    height: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    
    .logo-container {
      height: 100%;
      width: 30px;
      padding: 30px 35px;
    } 
  
  }

  .beachinfo {
    width: 70%;
    height: 40px;
    font-weight: normal;
    font-size: 100%;
    color: black;
    text-align: center;
    margin: 0px 0px 25px 60px;
    padding-bottom: 20px;
    

    
    
  }
  

}

